<div class="banner">
  <div class="container">
    <div class="banner__content">
      <h2 class="banner__title">Junior Front-end Developer</h2>
      <p class="banner__subtitle">Я стараюсь строить точные, отзывчивые, быстрые, удобные в использовании интерфейсы, которые красиво выглядят и хорошо выполняют свои задачи.</p>
      <!-- <div class="banner__action">
        <a href="#" class="btn btn_yellow">Contacts</a>
        <a href="#" class="btn btn__stroke btn__stroke_white">Portfolio</a>
      </div> -->
    </div>
    <div class="banner__console">
      <div class="banner__console__bg"></div>
      <console></console>
    </div>
  </div>
</div>